.form-control {
  margin-top: 1.2rem;
}

a {
  text-decoration: none !important;
}

.navbar-brand {
  color: #fff;
  transition: font-weight 0.2s;
  margin: 15px;
}

.navbar-brand:hover {
  font-weight: bold;
  color: #1f6aff;
}

nav {
  background-color: #1f6aff !important;
  margin-bottom: 3rem;
}

nav ul li a {
  color: #fff;
  transition: font-weight 0.2s;
  margin: 15px;
}

nav ul li a:hover {
  font-weight: bold;
  color: grey;
}

table {
  margin-top: 50px;
}

.btn{
  transition: font-weight 0.2s !important;
  background-color: #1f6aff !important;
  border-color: #1f6aff !important;
  color: #ffffff !important;
}

.btn:hover{
  transition: font-weight 0.2s !important;
  font-weight: bold !important;
  background-color: white !important;
  border-color: black !important;
  color: black !important;
}

.btn-success {
  background-color: #3A5311 !important;
  border-color: #3A5311 !important;
  color: #ffffff !important;
}

.btn-success:hover {
  background-color: #98BF64 !important;
  border-color: #98BF64 !important;
  color: #3A5311 !important;
  font-weight: bold !important;
}

.btn-danger {
  background-color: #E3242B !important;
  border-color: #E3242B !important;
  color: #ffffff !important;
}

.btn-danger:hover {
  background-color: #1f6aff !important;
  border-color: #1f6aff !important;
  color: #E3242B !important;
  font-weight: bold !important;
}